@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gruppo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gruppo', cursive;
    color: #fff;
    height: 100vh;
    background: rgb(57,75,113);
    background: radial-gradient(circle, rgba(57,75,113,1) 25%, rgba(30,30,48,1) 60%);
    overflow: hidden;
}


main {
    display: flex;
    height: calc(100vh - 100px) ;
}

.sidebar {
    width: 250px;
    padding: 25px 30px 60px 0px;
}

.logo {
    width: 190px;
    margin-left: 30px;
    padding: 10px 60px 80px 20px;
}

.logo img{
    width: 100%;
}

.sidebar .menu {
    height: calc(100vh - 320px);
    overflow: auto;
}


.sidebar .menu::-webkit-scrollbar {
    width: 0em;
  }


.sidebar .menu li a{
    font-family: 'Bebas Neue', cursive;
    color: #697986;
    display: block;
    height: 70px;
    line-height: 70px;
    text-indent: 30px;
    border-left: 6px solid transparent;
    cursor: pointer;
    transition: all 0.35s linear;
    font-size: 18px;
    text-decoration: none;
}

.sidebar .menu li a.active{
    background-color: #384a6f;
    border-left: 6px solid #45ecd3;
    color: #fff;
}

.sidebar .menu li a:hover{
    background-color: #384a6f;
    border-left: 6px solid #45ecd3;
    color: #fff;
}

.wrapper {
    flex-grow: 1;
    padding: 30px 60px;
    overflow: hidden;

}

.search_btn{
    position: absolute;
    right: 140px;
    top: 30px;
    width: 40px;
    height: 40px;
    background: url(./img/icons8-ricerca-50.png);
    background-size: cover;

    cursor: pointer;
    transition: all 0.4s ease;
}

.search_btn:hover{
    transform: scale(1.2);

}

hr {
    border: 0;
    width: 60%;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, white));
    height: 1px;
    margin: 0 auto;
}

#container::-webkit-scrollbar {
    width: 1em;
  }
   
#container::-webkit-scrollbar-track {
    background-color: rgba(10, 11, 12, 0.502);
  }
   
#container::-webkit-scrollbar-thumb {
    background-color: rgb(40, 46, 82);
}

#container {
    padding: 30px 20px 0px;
    overflow: auto;
    max-height: 725px;
    scroll-behavior: smooth;
}

#container .list-ul{
    list-style: none;
    
}

#container .list-ul li{
    display: inline-block;
    width: 220px;
    height: 280px;
    margin: 30px;
    -webkit-box-shadow: 0px -1px 15px 5px #000000; 
    box-shadow: 0px -1px 15px 5px #000000;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}



#container .list-ul li img{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}

#container .list-ul li .edit_btn{
    position: absolute;
    top: -100px;
    height: 100px;
    width: 100%;
    z-index: 999;
    transition: top 0.20s ease-in-out;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#container .list-ul li .overlay{
    position: absolute;
    bottom: -100px;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 999;
    transition: bottom 0.20s ease-in-out;
    padding: 10px 20px;
}

#container .list-ul li:hover .overlay{
    bottom: 0px;
}

#container .list-ul li:hover .edit_btn{
    top: 0px;
}

#container .list-ul li .overlay a{
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
}



.form {
    padding: 40px;
}

#create, #edit{
    width: 500px;
    margin: 20px auto;
    font-size: 16px;
}

#create label{
    display: block;
    margin-bottom: 3px;
    margin-top: 10px;
}

#create input, #create textarea, #edit input, #edit textarea{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(17, 13, 28);
    transition: all 0.35s;
    background: #00000079;
    border-radius: 20px;
    color: #fff;
} 

#create textarea, #edit textarea{
    resize: none;
    min-height: 150px;
} 

#create input:focus, #create textarea:focus, 
#edit input:focus, #edit textarea:focus{
    border: 1px solid rgb(10, 8, 41);
    box-shadow: 0px 0px 20px rgb(10, 8, 41);
} 

#create .row, #edit .row{
    margin: 10px 0;
}

ul li span {
    cursor: pointer;
    text-decoration: underline;
    color:tomato;
}

.edit {
    border: 0;
    width: 20px;
    height: 20px;
    background: url(./img/icons8-edit-50.png);
    background-size: cover;
    text-decoration: none;
    transition: all 0.4s ease;
    filter: invert();
   
}

.edit:hover {
    transform: scale(1.5);
}

.delete{
    border: 0;
    color: #fff;
    width: 20px;
    height: 20px;
    background-color: rgb(169, 0, 0);
    border-radius: 50%;
    transition: all 0.4s ease;
    line-height: 20px;
    background: url(./img/icons8-elimina-per-sempre-48.png);
    background-size: cover;
    cursor: pointer;
}

.delete:hover{
    transform: scale(1.5);
}

.alert {
    background-color: red;
    color: white;
    width: 400px;
    top: -500px;
    left: 50%;
    margin-left: -200px;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease;
}

.alert.show{
    top: 100px
}

.alert p{
    padding: 10px 20px;
}

.loading {
    color: #aaa;
    padding: 15px;
    border: 1px dashed #aaa;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

article{
    padding: 50px;
    display: flex;
    position: relative;
}

article .poster img{
    height: 580px;
    width: auto;
    
}

article .description{
    padding: 0px 40px;
}

article .description h2{
    font-size: 28px;
}


.backbutton{
    display: block;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

.button{
    background: transparent;
    cursor: pointer;
    margin: auto;
    display: block;
    width: 200px;
    border: 1px solid #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    transition: all 0.35s linear;
    font-size: 16px;
}
.button:hover{
    background: #fff;
    color: #151a24;
}



.search_modal{
    position: absolute;
    top: -2000px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.search_modal.show{
    animation: search 1s ease alternate;
    top: 0;
}

.search_modal #search-form{
    position: relative;
}

.search_modal #search-form input{
    padding: 10px 20px;
    height: 50px;
    width: 400px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    box-shadow: 0px 0px 20px rgb(10, 8, 41);
}

.search_modal #search-form input:focus{
    outline: none;
}

.search_modal #search-form button{
    top: 10px;
    right: 10px;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background: transparent;
    background: url(./img/icons8-ricerca-50.png);
    background-size: cover;
    filter: invert();
    cursor: pointer;
}

.hamburger{
    display: none;
}


@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes search {
    0% {
        opacity: 0;
        top: 0px;
    }
    1% {
        opacity: 0;
        top: 0px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes search-out {
    0% {
        opacity: 1;
        top: 0px;
    }
    1% {
        opacity: 0;
        top: 0px;
    }
    100% {
        opacity: 0;
        top: -2000px;
    }
}


@media all and (max-width: 990px) {
    body{
        height: auto;
        overflow: auto;
    }

    main {
        height: auto;
        display: block;
    }

    .sidebar{
        position: fixed;
        z-index: 8;
        left: -1000px;
        background: #151a24;
        width: 100%;
        height: 100vh;
        padding: 20px 0px;
        transition: all 0.35s linear;
    }


    .sidebar.show{
        left: 0px;
    }

    .sidebar .logo{
        margin-left: 80px;
    }

    

    .wrapper{
        padding: 20px;
    }

    .wrapper h1{
        font-size: 25px;
        width: 70%;
        margin: 50px auto 0px;
    }

    #container{
        padding: 20px 0px;
        overflow: hidden;
    }

    .hamburger{
        display: block;
        position: fixed;
        width: 40px;
        height: 40px;
        background: url('./img/icons8-menu-64.png');
        background-size: cover;
        filter: invert();
        z-index: 9;
    }

    .search_btn{
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 9;
    }

    .search_modal #search-form input {
        width: 280px;
    }

    #create, #edit{
        width: auto;
    }

    article{
        display: block;
        padding: 0px;
    }

    .poster img{
        max-height: 300px;
        display: block;
        margin: auto;
    }

    .description {
        margin-top: 20px;
    }

    #container {
        max-height: fit-content;
    }

    #container .list-ul {
        text-align: center;
    }




}
